{% extends 'base.html' %}

{% load bootstrap5 %}

{% block head %}
<title>Созданиее сообщества</title>
{% endblock %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    {% if field.name != "icon" %}
    {% bootstrap_field field show_label=False %}
    {% else %}
    {% bootstrap_field field %}
    {% endif %}
    {% endfor %}

    {% bootstrap_button button_type="submit" button_class="btn-success" content="Создать группу" %}
</form>
{% endblock %}