{% extends 'base.html' %}

{% load bootstrap5 %}

{% block head %}
<title>{{user.first_name}} {{user.last_name}}</title>
{% endblock %}

{% block main %}
<div class="row" id="app">
    <div class="col-md-3">
        <div class="card" style="">
            <img src="{{ user.profile.img.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="card-text">
                    {% if user.profile.status %}
                    {{user.profile.status}}
                    {% endif %}
                </p>
                {% if user != request.user %}
                <a id="add_friend" class="btn btn-primary" @click="friendButtonClick">[[ friendButtonContent ]]</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% for new in news %}
        <div class="card mx-auto text-dark bg-light mb-3" style="max-width: 700px;">
            <h5 class="card-header d-flex position-relative">
                <img class="img-fluid rounded-circle me-3" src="{{new.sender.profile.img.url}}" style="height: 50px">
                <div class="ml-2">
                    <a href="{% url 'profile' new.sender.id %}" class="h5 m-0 stretched-link text-black" style="color: #000000;
                    text-decoration: none;"> {{new.sender.first_name}} {{new.sender.last_name}}</a>
                    <div class="h7 text-muted">{{new.datetime}}</div>
                </div>
            </h5>
            <div class="card-body">
                <h5 class="card-title">
                    {{ new.name_new }}
                </h5>
                <p class="card-text">{{ new.text }}</p>
            </div>
            {% if new.picture %}
            <img class="card-img-bottom" src="{{ new.picture.url }}" alt="">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    'use strict';

    const v = new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data: {
            friendButtonContent: "",
        },

        methods: {
            friendButtonContentChange() {
                axios({
                    method: 'get',
                    url: '/friends/is_friend/{{ user.id }}'
                }).then(response => {
                    this.friendButtonContent =
                        response.data.friendButtonContent
                });
            },
            friendButtonClick() {
                if (this.friendButtonContent == "Добавить в друзья") {
                    axios({
                        method: 'get',
                        url: '/friends/add_friend/{{ user.id }}'
                    }).then(response => {
                        this.friendButtonContentChange()
                    })
                } else if (this.friendButtonContent == "Ответ на заявку") {
                    axios({
                        method: 'get',
                        url: '/friends/accept_friend/{{ user.id }}'
                    }).then(response => {
                        this.friendButtonContentChange()
                    })
                } else if (this.friendButtonContent == "Удалить из друзей") {
                    axios({
                        method: 'get',
                        url: '/friends/delete_friend/{{ user.id }}'
                    }).then(response => {
                        this.friendButtonContentChange()
                    })
                }
            }
        },

        mounted() {
            this.friendButtonContentChange()
        },
    })
</script>
{% endblock %}