{% extends 'base.html' %}

{% load bootstrap5 %}

{% block main %}
<div align="center">
    <h3>Расширенный поиск</h3>
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                <form method="get">
                    {% bootstrap_form ProfileFilter.form show_label=False %}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>


        <div class="card col-md-6">
            <table class="table table-sm">
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Город</th>
                    <th>Другие соц. сети</th>
                    <th>Место работы</th>
                    <th>Статус</th>
                    <th>Обо мне</th>
                </tr>
                {% for profile in profiles %}
                <tr>
                    <td><a href="{% url 'profile' profile.user.id %}" class="button">{{profile.user.first_name}}</a>
                    </td>
                    <td>{{profile.user.last_name}}</td>
                    <td>{{profile.city}}</td>
                    <td>{{profile.other_socnet}}</td>
                    <td>{{profile.career}}</td>
                    <td>{{profile.status}}</td>
                    <td>{{profile.about_me}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
</div>
{% endblock %}