{% extends 'base.html' %}

{% load bootstrap5 %}

{% block main %}
<div align="center">
    <br/><br/>
    <h3>Advanced Search</h3>
    <div>
        <form method="get">
            {{ProfileFilter.form.as_p}}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <div>
            <table class="table table-sm">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>City</th>
                    <th>Other social net</th>
                    <th>Career</th>
                    <th>Status</th>
                    <th>About me</th>
                </tr>
                {% for profile in profiles %}
                <tr>
                    <td>{{profile.user.first_name}}</td>
                    <td>{{profile.user.last_name}}</td>
                    <td>{{profile.city}}</td>
                    <td>{{profile.other_socnet}}</td>
                    <td>{{profile.career}}</td>
                    <td>{{profile.status}}</td>
                    <td>{{profile.about_me}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
</div>
{% endblock %}
