{% extends 'base.html' %}

{% load bootstrap5 %}

{% block main %}

<div align="center" xmlns="http://www.w3.org/1999/html">
    <h3>Расширенный поиск</h3>

    <form method="get">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Главное
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><label>Имя содержит</label> {{ ProfileFilter.form.first_name }}</p>
                    <p><label>Фамилия содержит</label> {{ ProfileFilter.form.last_name }}</p>
                    <p>{{ ProfileFilter.form.city.label }} {{ ProfileFilter.form.city }}</p>
                    <p>{{ ProfileFilter.form.career.label }} {{ ProfileFilter.form.career }}</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Обо мне
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>{{ ProfileFilter.form.other_socnet.label }} {{ ProfileFilter.form.other_socnet }}</p>
                    <p>{{ ProfileFilter.form.status.label }} {{ ProfileFilter.form.status }}</p>
                    <p>{{ ProfileFilter.form.about_me.label }} {{ ProfileFilter.form.about_me }}</p>
                    <p>{{ ProfileFilter.form.inspires.label }} {{ ProfileFilter.form.inspires }}</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Интересы
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>{{ ProfileFilter.form.interests.label }} {{ ProfileFilter.form.interests }}</p>
                    <p>{{ ProfileFilter.form.favorite_musics.label }} {{ ProfileFilter.form.favorite_musics }}</p>
                    <p>{{ ProfileFilter.form.favorite_movies.label }} {{ ProfileFilter.form.favorite_movies }}</p>
                    <p>{{ ProfileFilter.form.favorite_TVshows.label }} {{ ProfileFilter.form.favorite_TVshows }}</p>
                    <p>{{ ProfileFilter.form.favorite_books.label }} {{ ProfileFilter.form.favorite_books }}</p>
                    <p>{{ ProfileFilter.form.favorite_games.label }} {{ ProfileFilter.form.favorite_games }}</p>
                    <p>{{ ProfileFilter.form.favorite_quotes.label }} {{ ProfileFilter.form.favorite_quotes }}</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Жизненная позиция
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>{{ ProfileFilter.form.life_position.label }} {{ ProfileFilter.form.life_position }}</p>
                    <p>{{ ProfileFilter.form.political_preferences.label }} {{ ProfileFilter.form.political_preferences }}</p>
                    <p>{{ ProfileFilter.form.world_outlook.label }} {{ ProfileFilter.form.world_outlook }}</p>
                    <p>{{ ProfileFilter.form.main_in_life.label }} {{ ProfileFilter.form.main_in_life }}</p>
                    <p>{{ ProfileFilter.form.main_in_people.label }} {{ ProfileFilter.form.main_in_people }}</p>
                    <p>{{ ProfileFilter.form.attitude_to_smoking.label }} {{ ProfileFilter.form.attitude_to_smoking }}</p>
                    <p>{{ ProfileFilter.form.attitude_to_alcohol.label }} {{ ProfileFilter.form.attitude_to_alcohol }}</p>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Search</button>

    </form>

    {% for profile in profiles %}
        <div class="d-flex position-relative">
            <div class="flex-shrink-0">
                <img src="{{ profile.img.url }}" class="rounded-circle" alt="Изображение" style="object-fit: cover; width: 50px; height: 50px;">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="card-title">{{profile.user.first_name}} {{profile.user.last_name}}</h5>
                {% if profile.about_me != None %}
                    <p class="card-text">{{ profile.about_me }}</p>
                {% endif %}
                <a href="/profile/{{profile.user.id}}" class="stretched-link"></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
