{% extends 'base.html' %}

{% load bootstrap5 %}

{% block main %}
<div>
    <br/><br/>
    <h3>Live Search Of Social Network Users</h3>
    <div>
        <form method="get">
            {{UserFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <div>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{user.username}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <br/>
    <h3>Live Search Of Social Network Novelties</h3>

    <hr>
    <br/>
    <h3>Advanced Search</h3>
    <div>
        <form method="get">
            {{ProfileFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <div>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Career</th>
                    <th>Status</th>
                </tr>
                {% for profile in profiles %}
                <tr>
                    <td>{{profile.user}}</td>
                    <td>{{profile.city}}</td>
                    <td>{{profile.career}}</td>
                    <td>{{profile.status}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
