{% extends 'base.html' %}

{% load bootstrap5 %}

{% block main %}
    <div>
        <br/><br/>
        <h3>Live Search Of Social Network Novelties</h3>
        <div class="container">
            <div align="center">
                <input type="text" name="search" id="search" placeholder="Search" class="form-control" />
            </div>
            <div>
                <ul class="list-group" id="result"></ul>
            </div>
        </div>
        <hr>

        <div id="id">
            {{data|json_script:"data"}}
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
let Data = JSON.parse(document.getElementById('id').textContent);

$(document).ready(function(){
 $.ajaxSetup({ cache: false });
 $('#search').keyup(function(){
 $('#result').html('');
 $('#state').val('');
 var searchField = $('#search').val();
 var expression = new RegExp(searchField, "i");

 $.each(Data, function(key, value){
 if (value.name_new.search(expression) != -1)
 {
 $('#result').append('<li class="list-group-item link-class"> '+value.name_new+' </li>');
 }
 });
 });

 $('#result').on('click', 'li', function() {
 var click_text = $(this).text().split('|');
 $('#search').val($.trim(click_text[0]));
 $("#result").html('');
 });
});
</script>
{% endblock %}
