{% extends 'base.html' %}

{% load bootstrap5 %}

{% block head %}
<title>Создание чата</title>
{% endblock %}

{% block main %}

<form class="row g-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Название группы">
    </div>

    <div class="form-check">
        <label class="form-label">Выберите участников: </label>
        <label class="form-check-label" for="flexCheckDefault">
        {% for friend in form.option %}

        {{friend}}

        {% endfor %}
        </label>
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">Выберите аватарку группы</label>
        <input class="form-control" type="file" id="formFile">
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>

{% endblock %}

