{% extends 'base.html' %}

{% load bootstrap5 %}

{% block head %}
<title>Новости</title>
{% endblock %}


{% block main %}
<div class="card mx-auto text-dark bg-light mb-3 mt-3" , style="max-width: 700px;">
    <div class="card-body">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Добавить пост
        </a>
        <div class="collapse mt-3" id="collapseExample">
            <form method="post" enctype="multipart/form-data">
                {% for field in form %}
                {% if field.name != "picture" %}
                {% bootstrap_field field show_label=False %}
                {% else %}
                {% bootstrap_field field %}
                {% endif %}
                {% endfor %}

                {% bootstrap_button button_type="submit" button_class="btn-success" content="Создать пост" %}
            </form>
        </div>
    </div>
</div>

<hr class="mx-auto" style="max-width: 700px;">

{% for new in news %}
{% if new.group == None %}
<div class="card mx-auto text-dark bg-light mb-3" style="max-width: 700px;">
    <h5 class="card-header">
        Новость от:
        {{new.sender}}
    </h5>
    <div class="card-body">
        <h5 class="card-title">
            {{ new.name_new }}
        </h5>
        <p class="card-text">{{ new.text }}</p>
    </div>
    {% if new.picture != None %}
    <img class="card-img-bottom" src="{{ new.picture }}" alt="">
    <div class="card-footer">
        {{new.datetime}}
    </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}
{% endblock %}